body {
      margin: 0;
      padding: 10px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 3rem;
      background: linear-gradient(135deg, #0c0f17, #1b2333);
      font-family: "Poppins", sans-serif;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
      overflow: hidden;
    }
        .vip-title {
      font-family: "Poppins", sans-serif;
      color: #ffcf33; /* couleur liée au thème */
      text-align: center;
      font-size: 50px;
      font-weight: 600;
      letter-spacing: 1.5px;
      margin-bottom: 20px;
      position: relative;
    }
    
    /* barre décorative sous le titre */
    .vip-title::after {
      content: "";
      display: block;
      width: 60px;
      height: 3px;
      background: linear-gradient(90deg, #ffcf33, #e8e8e8);
      margin: 8px auto 0;
      border-radius: 2px;
      opacity: 0.8;
    }



    .card {
      max-width: 400px;
      background: rgba(255, 255, 255, 0.06);
      backdrop-filter: blur(12px);
      border-radius: 25px;
      padding: 20px;
      box-shadow: 0 10px 40px rgba(0, 0, 0, 0.4);
      color: white;
      text-align: center;
      border: 1px solid rgba(255, 255, 255, 0.1);
    }

    .icon-top {
      font-size: 40px;
      margin-bottom: 10px;
      color: #ffcf33;
      text-shadow: 0 0 12px #ffcf33aa;
    }

    .quote-text {
      font-size: 20px;
      line-height: 1.6;
      margin: 20px 0;
      color: #e8e8e8;
      font-weight: 300;
    }

    .author {
      margin-top: 10px;
      font-size: 16px;
      opacity: 0.8;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 8px;
    }

    .author i {
      color: #73a7ff;
    }

    .btn-refresh {
      margin-top: 25px;
      padding: 12px 20px;
      border: none;
      background: linear-gradient(135deg, #3b82f6, #2563eb);
      border-radius: 12px;
      cursor: pointer;
      color: white;
      font-size: 13px;
      font-weight: 500;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 5px;
      transition: 0.2s;
      width:fit-content;
    }


    .btn-refresh:hover {
      transform: scale(1.05);
      box-shadow: 0 0 15px #3b82f688;
    }
    
   .btnContainer{
    display:flex;
    gap: 1rem;
    justify-content: center;
    align-items: center;
   }
   
   .active{
    animation: rotate 1.5s ease infinite;
   }
   
   @keyframes rotate{
    to{transform: rotate(360deg)}
   }
   
